<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPT Project</title>
    <link rel="stylesheet" href="../styles/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="shortcut icon"
      href="/public/assets/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/components/about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >Bible Teaching</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >Library</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container clearfix">
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <h1 class="title" id="about-title">Default</h1>
            <h3 class="subtitle">
              Our mission is to offer straightforward, easy-to-access resources
              for those seeking a deeper understanding of Bible teachings.
              Whether you're a lifelong believer or just starting your journey,
              we're here to provide support, guidance, and inspiration.
            </h3>
            <p class="description">
              Thank you for visiting, and we hope you find peace and inspiration
              here!
            </p>
          </div>
          <div class="col-xs-12 col-lg-6 about-image-container">
            <img src="/public/assets/main_photo3.jpg" class="about-image" />
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container clearfix">
        <div class="row">
          <h2 class="activities">Activities of Jehova</h2>
          <div class="col-xs-12 col-lg-6">
            <button
              class="btn btn-outline-primary btn-lg rounded-pill shadow-sm"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseWidthExample"
              aria-expanded="false"
              aria-controls="collapseWidthExample"
            >
              <b>"Valuable work for the community"</b>
            </button>
            <div style="min-height: 120px">
              <div
                class="collapse collapse-horizontal"
                id="collapseWidthExample"
              >
                <div class="card-body">
                  During the special campaign in May 2017, more than 200
                  Witnesses in Finland, Norway, and Sweden volunteered to go to
                  numerous small villages scattered across thousands of square
                  kilometers in Lapland. Some Witnesses prepared by learning
                  Saami phrases, which impressed the Saami people. “Locals
                  welcomed our modest efforts to speak their language and sensed
                  our genuine interest,” relates Denis, who volunteered in
                  Karigasniemi. Because they cherish nature and wildlife, the
                  Saami especially appreciated the Bible's promise about a
                  paradise on earth. (Psalm 37:11) For example, when a Saami
                  woman started to study the Bible using the brochure Good News
                  From God! and learned what God will do for humankind, she
                  wondered aloud why her minister had never told her about an
                  earthly paradise. Many expressed their gratitude for the
                  Witnesses' visits. A shopkeeper commended two Witnesses he had
                  observed. He told them that they were doing an “important and
                  valuable work for the community” and invited them to come to
                  his store and take whatever food they needed. The shopkeeper
                  then insisted on covering the cost. During the campaign, the
                  Saami viewed about 180 videos and accepted more than 500
                  publications. Often, they asked for every publication that was
                  available in their language. In addition, 14 Saami began
                  studying the Bible with Jehovah's Witnesses.
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6">
            <button
              class="btn btn-outline-primary btn-lg rounded-pill shadow-sm"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseWidthExample1"
              aria-expanded="false"
              aria-controls="collapseWidthExample1"
            >
              <b>"The work of professionals"</b>
            </button>
            <div style="min-height: 120px">
              <div
                class="collapse collapse-horizontal"
                id="collapseWidthExample1"
              >
                <div class="card-body">
                  Several Saami who read the publications of Jehovah's Witnesses
                  appreciated the high quality of translation. “Your
                  publications are translated incredibly well,” said Nilla
                  Tapiola, a schoolteacher and a member of the Executive Board
                  of the Saami Parliament. He explained that the publications
                  “are easy to read and have good linguistic form.” A Saami man
                  who lives at the northernmost point of Finland concluded:
                  “They are clearly the work of professionals.” In Karigasniemi,
                  on the border between Finland and Norway, the Witnesses
                  discussed with a Saami teacher the first lesson of the
                  brochure Good News From God! Impressed by the quality of the
                  translation, the teacher asked the Witnesses for permission to
                  use the brochure at school to teach the Saami language.
                  Several videos and tracts as well as one brochure have been
                  translated into Saami. The jw.org website has appeared in
                  Saami since February 29, 2016. Each month, Saami speakers
                  visit the website over 400 times and download about 350
                  digital, audio, and video files. Both the Saami and those who
                  volunteered to visit them feel enriched by the campaign.
                  Locals could “see that the Bible benefits the Saami community
                  in many practical ways,” observed Henrick and Hilja-Maria, who
                  traveled to Utsjoki. Lauri and Inga, who were also in Utsjoki,
                  added: “This campaign reminded us of God's impartiality. We
                  are happy to reflect his love toward the inhabitants of these
                  remote places.”
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/about.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
