*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", serif;
  background-color: white !important;
}

.navbar {
  background-color: #865d36;
}

.navbar-brand,
.nav-link {
  color: #ffff !important;
  border-radius: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: black;
  background-color: #3e362e;
  border-radius: 20px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  height: 100%;
  width: auto;
  max-height: 383px;
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 20px;
}

.card-body {
  text-align: justify;
}

.btn-outline-primary {
  margin-left: 70px;
}

.btn-outline-primary {
  margin-left: 70px;
}
