*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", serif;
  background-color: whitesmoke !important;
}

.title {
  font-weight: bold;
}

.navbar {
  background-color: #865d36;
}

.navbar-brand,
.nav-link {
  color: #ffff !important;
  border-radius: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: black;
  background-color: #3e362e;
  border-radius: 20px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.bi-hand-thumbs-up {
  margin-left: 8px;
}

.center-image {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.main-details {
  margin-top: 10px;
  bottom: 10px;
  color: black;
  margin: 20px;
}

.section-details {
  text-align: center;
}
/*
.modal-button {
  background-color: tomato;
}*/
